@import url("https://fonts.googleapis.com/css?family=Inconsolata|Oswald");
@keyframes head-show {
  0% {
    opacity: 0; } }
@keyframes mostrar-card {
  0% {
    transform: translate3d(0, -1000%, 0); } }
header {
  display: block;
  position: fixed;
  top: 0;
  background: black;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  z-index: 1; }
  header > * {
    display: inline-block;
    position: relative; }
  header h1 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 18px 0;
    left: 30px; }
    @media (min-width: 600px) {
      header h1 {
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%); } }
  header button, header a {
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 17px;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer; }
    header button:active, header a:active {
      color: #999999;
      margin-top: 17px;
      margin-right: 20px; }

#contents {
  display: block;
  position: relative;
  margin-top: 80px; }
  #contents .msg, #contents .t-card {
    width: 90%; }
    @media (min-width: 1280px) {
      #contents .msg, #contents .t-card {
        width: 70%; } }
    @media (min-width: 1360px) {
      #contents .msg, #contents .t-card {
        width: 55%; } }
  #contents .msg {
    display: block;
    position: fixed;
    background-color: white;
    margin: auto;
    text-align: justify;
    padding: 10px;
    font-size: 0.8em;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1; }
  #contents .t-card {
    display: block;
    margin: 15px auto;
    border-bottom: 1px solid white;
    padding: 0 10px;
    box-sizing: border-box; }
    #contents .t-card h3, #contents .t-card p, #contents .t-card small {
      display: block;
      color: white; }
    #contents .t-card h3, #contents .t-card p {
      font-family: 'Inconsolata', monospace; }
    #contents .t-card h3 {
      margin: 0; }
    #contents .t-card p {
      text-align: justify; }
    #contents .t-card > div {
      display: block;
      position: relative;
      margin-bottom: 5px;
      height: 22px; }
      #contents .t-card > div > a, #contents .t-card > div > div {
        display: inline-flex;
        position: relative;
        color: black;
        background-color: white;
        border-radius: 5px;
        height: 100%;
        width: 22px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        vertical-align: middle; }
      #contents .t-card > div > div {
        background-color: #757575;
        width: auto;
        min-width: 22px;
        padding: 0 5px; }
        #contents .t-card > div > div > span {
          display: flex;
          position: relative;
          font-family: 'Inconsolata', monospace;
          color: white;
          font-size: 0.85em; }
  #contents .dialog *, #contents .dialog p {
    text-align: center; }
  #contents > div {
    display: block;
    position: relative;
    text-align: center; }
    #contents > div > a, #contents > div > strong {
      display: inline-block;
      position: relative;
      font-family: 'Inconsolata', monospace;
      padding: 25px 9px;
      color: white;
      text-decoration: none; }
  #contents form {
    display: block;
    position: relative;
    width: 90%;
    margin: auto; }
    @media (min-width: 1280px) {
      #contents form {
        width: 60%; } }
    #contents form > * {
      display: block;
      position: relative;
      width: 100%; }
    #contents form input[type='text'], #contents form input[type='email'], #contents form textarea {
      border: 1px solid;
      border-color: black;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      font-family: 'Inconsolata', monospace;
      resize: none;
      background-color: #666666;
      transition: background-color 0.5s, border-color 0.5s; }
      #contents form input[type='text']::placeholder, #contents form input[type='email']::placeholder, #contents form textarea::placeholder {
        color: white; }
      #contents form input[type='text']:focus, #contents form input[type='email']:focus, #contents form textarea:focus {
        background-color: white;
        border-color: white; }
    #contents form input[type='submit'] {
      background-color: black;
      border: 1px solid white;
      border-radius: 10px;
      color: white;
      padding: 15px 0;
      transition: color 0.5s, background-color 0.2s;
      font-family: revert; }
      #contents form input[type='submit']:active {
        color: black;
        background-color: white; }
  #contents .podcast {
    display: block;
    position: relative;
    margin: auto;
    width: 90%;
    padding-bottom: 5px;
    margin: 10px auto;
    border-bottom: 1px solid white; }
    #contents .podcast a {
      display: block;
      position: relative;
      margin: 0 !important;
      padding: 0 !important;
      text-decoration: none; }
      #contents .podcast a img, #contents .podcast a .pod-controls {
        display: inline-block;
        position: relative;
        vertical-align: middle; }
      #contents .podcast a img {
        width: 80px; }
      #contents .podcast a .pod-controls {
        width: 235px;
        vertical-align: top; }
        #contents .podcast a .pod-controls img {
          display: block;
          position: relative;
          height: 25px; }
        #contents .podcast a .pod-controls h4, #contents .podcast a .pod-controls p {
          display: block;
          color: white;
          padding: 0;
          margin: 0;
          text-align: left; }
  #contents .listen {
    display: block;
    position: relative; }
    @media (min-width: 1280px) {
      #contents .listen {
        text-align: center; } }
    #contents .listen img {
      display: block;
      position: relative;
      margin: auto;
      width: 90%; }
      @media (min-width: 1280px) {
        #contents .listen img {
          display: inline-block;
          width: 40%;
          vertical-align: middle; } }
    #contents .listen .pod-controls {
      display: block;
      position: relative;
      text-align: center;
      margin-top: 30px; }
      @media (min-width: 1280px) {
        #contents .listen .pod-controls {
          display: inline-block;
          vertical-align: middle;
          width: 40%; } }
      #contents .listen .pod-controls * {
        display: inline-block;
        position: relative;
        width: 55px;
        cursor: pointer; }
      #contents .listen .pod-controls .location {
        display: block;
        position: relative; }
      #contents .listen .pod-controls > span {
        display: none;
        position: relative;
        color: white;
        text-align: center;
        width: 100%;
        margin-bottom: 60px; }
        @media (min-width: 1280px) {
          #contents .listen .pod-controls > span {
            display: block; } }

body {
  background-color: black; }

/*# sourceMappingURL=estilo.css.map */
