form {
    display: block;
    position: relative;
    width: 90%;
    @media (min-width: 1280px) {
        width: 60%;
    }
    margin: auto;
    > * {
        display: block;
        position: relative;
        width: 100%;
    }
    input[type='text'], input[type='email'], textarea {
        border: 1px solid;
        border-color: black;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        font-family: 'Inconsolata', monospace;
        resize: none;
        background-color: #666666;
        transition: background-color 0.5s, border-color 0.5s;
        &::placeholder {
            color: white;
        }
        &:focus {
            background-color: white;
            border-color: white;
        }
    }
    input[type='submit'] {
        background-color: black;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        padding: 15px 0;
        transition: color 0.5s, background-color 0.2s;
        font-family: revert;
        &:active {
            color: black;
            background-color: white;
        }
    }
}
