.podcast {
    display: block;
    position: relative;
    margin: auto;
    width: 90%;
    padding-bottom: 5px;
    margin: 10px auto;
    border-bottom: 1px solid white;
    a {
        display: block;
        position: relative;
        margin: 0 !important;
        padding: 0 !important;
        text-decoration: none;
        img, .pod-controls {
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }
        img {
            width: 80px;
        }
        .pod-controls {
            width: 235px;
            vertical-align: top;
            img {
                display: block;
                position: relative;
                height: 25px;
            }
            h4, p {
                display: block;
                color: white;
                padding: 0;
                margin: 0;
                text-align: left;
            }
        }
    }
}
.listen {
    display: block;
    position: relative;
    @media (min-width: 1280px) {
        text-align: center;
    }
    img {
        display: block;
        position: relative;
        margin: auto;
        width: 90%;
        @media (min-width: 1280px) {
            display: inline-block;
            width: 40%;
            vertical-align: middle;
        }
    }
    .pod-controls {
        display: block;
        position: relative;
        text-align: center;
        margin-top: 30px;
        @media (min-width: 1280px) {
            display: inline-block;
            vertical-align: middle;
            width: 40%;
        }
        * {
            display: inline-block;
            position: relative;
            width: 55px;
            cursor: pointer;
        }
        .location {
            display: block;
            position: relative;
        }
        > span {
            display: none;
            position: relative;
            color: white;
            text-align: center;
            width: 100%;
            margin-bottom: 60px;
            @media (min-width: 1280px) {
                display: block;
            }
        }
    }
}