#contents {
    display: block;
    position: relative;
    margin-top: 80px;
    .msg, .t-card {
        width: 90%;
        @media (min-width: 1280px) {
            width: 70%;
        }
        @media (min-width: 1360px) {
            width: 55%;
        }
    }
    .msg {
        display: block;
        position: fixed;
        background-color: white;
        margin: auto;
        text-align: justify;
        padding: 10px;
        font-size: 0.8em;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 1;
    }
    .t-card {
        display: block;
        margin: 15px auto;
        border-bottom: 1px solid white;
        padding: 0 10px;
        box-sizing: border-box;
        h3, p, small {
            display: block;
            color: white;
        }
        h3, p {
            font-family: 'Inconsolata', monospace;
        }
        h3 {
            margin: 0;
        }
        p {
            text-align: justify;
        }
        > div {
            display: block;
            position: relative;
            margin-bottom: 5px;
            height: 22px;
            > a, > div {
                display: inline-flex;
                position: relative;
                color: black;
                background-color: white;
                border-radius: 5px;
                height: 100%;
                width: 22px;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                vertical-align: middle;
            }
            > div {
                background-color: #757575;
                width: auto;
                min-width: 22px;
                padding: 0 5px;
                > span {
                    display: flex;
                    position: relative;
                    font-family: 'Inconsolata', monospace;
                    color: white;
                    font-size: 0.85em;
                }
            }
        }
    }
    .dialog {
        *, p {
            text-align: center;
        }
    }
    > div {
        display: block;
        position: relative;
        text-align: center;
        > a, > strong {
            display: inline-block;
            position: relative;
            font-family: 'Inconsolata', monospace;
            padding: 25px 9px;
            color: white;
            text-decoration: none;
        }
    }

    @import "contents/__newpensamiento.scss";
    @import "contents/__podcasts.scss";
}