header {
    display: block;
    position: fixed;
    top: 0;
    background: black;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    z-index: 1;
    > * {
        display: inline-block;
        position: relative;
    }
    h1 {
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        margin: 18px 0;
        left: 30px;
        @media (min-width: 600px) {
            left: 50%;
            transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }
    button, a {
        padding: 0;
        margin: 0;
        float: right;
        margin-top: 17px;
        background: none;
        border: none;
        color: white;
        font-size: 25px;
        margin-right: 20px;
        cursor: pointer;
        &:active {
            color: #999999;
            margin-top: 17px;
            margin-right: 20px;
        }
    }
}